<section data-ng-controller="UsersController" data-ng-init="findOne()">
  <div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-12">
      <h2>Update User</h2>
        <ol class="breadcrumb">
          <li>
            <a href="#!/">Home</a>
          </li>
          <li>
            <a href="#!/users">Users</a>
          </li>
          <li class="active">
            <strong>Update User</strong>
          </li> 
        </ol>            
    </div>
  </div>
   <div class="ibox float-e-margins">
    <div class="ibox-content">
      <div class="row">
        <form>
          <fieldset>
            <div class="row">
              <div class="col-md-3 form-group">
                <label class="control-label" for="firstName">First Name</label>
                <input type="Text" ng-model="user.firstName" id="firstName" class="form-control" placeholder="" required />
              </div>            
              <div class="col-md-3 form-group">
                <label class="control-label" for="lastName">Last Name</label>
                <input type="Text" ng-model="user.lastName" id="lastName" class="form-control" placeholder="" required />
              </div>
              <div class="col-md-3 form-group">
                <label class="control-label" for="username">User Name</label>
                <input type="Text" ng-model="user.username" id="username" class="form-control" placeholder="" required />
              </div>
              <div class="col-md-3 form-group">
                <label class="control-label" for="email">Email</label>
                <input type="Email" ng-model="user.email" id="email" class="form-control" placeholder="" required />
              </div>   
              <div class="col-md-3 form-group">
                <label class="control-label" for="password">Password</label>
                <input type="Password" ng-model="user.password" id="password" class="form-control" placeholder="" required />
              </div>               
              <div class="col-md-3 form-group">
                <label class="control-label" for="roles">Roles</label>
                <select multiple id="roles" class="form-control" size="3"
                  ng-model="user.roles"
                  ng-required="true">
                  <option value="admin">Admin</option>
                  <option value="user">User</option>
                </select>
              </div>
            </div>
            <div class="row">
              <div data-ng-show="error" class="text-danger">
                <strong data-ng-bind="error"></strong>
              </div>               
              <div class="col-md-2 form-group">
                <button ng-click="update()" class="btn btn-primary" >Save</button>
              </div>              
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</section>